new_mule/src/main/mule/new_mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f11c97eb-224d-4518-a454-e0e47ce08705" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="new_muleFlow" doc:id="81f275d0-6c1d-4f80-9968-cbbce9313d36" >
		<http:listener doc:name="Listener" doc:id="fa31f068-aa70-4898-9bbf-b95fabe75b2f" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c5738d8c-b7ba-404c-ad67-8401ae0dfd48" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6f6ea594-4035-441a-a07c-c3c091f38b85" />
	</flow>
</mule>
